{% extends "header.html" %} {% block admin %}
<main class="grid-100vh-rows">
  <section>
    <div class="grid-2-cols admin-container">
      <div class="admin-title">
        <h4>General settings</h4>
      </div>
      <div class="admin-form">
        <form
          action="{{ url_for('admin.general') }}"
          class="form"
          method="POST"
          enctype="multipart/form-data"
          novalidate
        >
          {{ general_form.csrf_token }}
          <div class="form-row">
            {{ general_form.website_title.label(class="form-label") }} {{
            general_form.website_title(class="form-input") }}
          </div>
          <div class="form-row">
            {{ general_form.firstname.label(class="form-label") }} {{
            general_form.firstname(class="form-input") }}
          </div>
          <div class="form-row">
            {{ general_form.lastname.label(class="form-label") }} {{
            general_form.lastname(class="form-input") }}
          </div>
          <div class="form-row">
            {{ general_form.job_title.label(class="form-label") }} {{
            general_form.job_title(class="form-input") }}
          </div>
          <div class="form-row">
            {{ general_form.intro_text.label(class="form-label") }} {{
            general_form.intro_text(class="form-input form-textfield") }}
          </div>
          <div class="form-row">
            {{ general_form.portrait.label(class="form-label") }}
            <div class="admin-component-box">
              <img src="{{ general_form.portrait.data }}" alt="Head photo" />
            </div>
            {{ general_form.portrait(class="form-input") }}
          </div>
          {{ general_form.save_general(class="form-btn") }}
        </form>
      </div>
    </div>
  </section>
</main>
{% endblock %}
