{% extends "header.html" %} {% block admin %}
<main class="grid-100vh-rows">
  <section>
    <div class="grid-1-cols">
      <form
        action="{% if request.path == url_for('admin.store.add_object', obj_type='attribute') %}
        {{ url_for('admin.store.add_object', obj_type='attribute') }}
        {% elif request.path == url_for('admin.store.add_object', obj_type='social') %}
        {{ url_for('admin.store.add_object', obj_type='social') }}
        {% elif request.path == url_for('admin.store.edit_object', obj_type='attribute', obj_id=object.id) %}
        {{ url_for('admin.store.edit_object', obj_type='attribute', obj_id=object.id) }}
        {% elif request.path == url_for('admin.store.edit_object', obj_type='social', obj_id=object.id) %}
        {{ url_for('admin.store.edit_object', obj_type='social', obj_id=object.id) }}
        {% endif %}"
        class="form"
        method="POST"
        novalidate
      >
        <div class="form-title">
          <h2>{{ title }}</h2>
        </div>
        {{ form.csrf_token }}{{ form.attribute_hidden() }}
        <div class="form-row">
          {{ form.attribute_type.label(class="form-label") }} {{
          form.attribute_type(class="form-input") }}
        </div>
        <div class="form-row">
          {{ form.attribute_value.label(class="form-label") }} {{
          form.attribute_value(class="form-input") }}
        </div>
        <div class="modal-btn">
          {{ form.submit(class="form-btn") }}
          <a href="{{ url_for('admin.about') }}" class="btn-light">Cancel</a>
        </div>
      </form>
    </div>
  </section>
</main>
{% endblock %}
