{% extends "header.html" %} {% block admin %}
<main class="grid-100vh-rows">
  <section class="intro grid-2-cols">
    <div>
      <form
        action="{{ url_for('admin') }}"
        class="form"
        method="POST"
        novalidate
      >
        <div class="form-title">
          <h4>Change password</h4>
        </div>
        {{ password.csrf_token }} {{
        password.current_password(placeholder="Current password",
        class="form-input form-current-password") }} {{
        password.new_password(placeholder="New password", class="form-input
        form-email") }} {{ password.new_password_check(placeholder="Again new
        password", class="form-input form-subject") }} {{
        password.change(class="form-btn") }}
      </form>
    </div>
  </section>
</main>
{% endblock %}
